doc/doxygen
server/apache.conf
server/service/globals_untracked.php
server/db/privileges.sql
server/db/reminder_db_script.sql
server/db/create_db.sql
assets/*
!assets/logo
static/*
css/*
!css/ext
js/*
!js/ext
.vscode/launch.json
!assets/datatables_child_row
server/plugins/*
!server/plugins/README.md
server/db/install_selfhelp.sql
vendor
composer.json
composer.lock
phpstan.neon
!assets/.htaccess
