.actionConfig_builder_modal_holder .modal-dialog{
    max-width: 80% !important;
    z-index: 1000   0;
}

.actionConfig_builder_modal_holder .modal-dialog .modal-header{
    background: #007bff;
}

.actionConfig_builder_modal_holder .btn-group{
    margin-bottom: .25rem;
}

.actionConfig_builder_modal_holder .btn-group button{
    border: solid;
    border-radius: 5px !important;
}

.actionConfig_builder .dropdown-toggle {
    background-color: white !important;
}

.action_condition_builder_modal_holder .modal-dialog{
    max-width: 80% !important;
    z-index: 1000   0;
}

.action_condition_builder_modal_holder .modal-dialog .modal-header{
    background: #007bff;
}

.action_condition_builder_modal_holder .btn-group{
    margin-bottom: .25rem;
}

.action_condition_builder_modal_holder .btn-group button{
    border: solid;
    border-radius: 5px !important;
}