.chat
{
    overflow-y: auto;
}

.chat > .card
{
    border-radius: 15px;
    background-color: #e2e3e5;
    color: #383d41;
}

.chat > .card.me
{
    background-color: #d4edda;
    color: #155724;
}

.chat > .card.subject
{
    background-color: #d1ecf1;
    color: #0c5460;
}

.chat > .card.experimenter
{
    background-color: #e2e3e5;
    color: #383d41;
}

.chatMessage{
    white-space: pre-line;
}

.category{
    width: 150px;
}
