.graph-pending {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 160px;
    height: 160px;
    z-index: 10;
    background-color: #FFFFFFCC;
}
