.condition_builder_modal_holder .modal-dialog {
    max-width: 80% !important;
    z-index: 1000 0;
}

.condition_builder_modal_holder .modal-dialog .modal-header {
    background: var(--bs-secondary);
    color: var(--white)
}

.condition_builder_modal_holder .btn-group {
    margin-bottom: .25rem;
}