.children-list
{
}

.children-list > li
{
    padding: 0.25rem 0.5rem;
}

.children-list.sortable > li
{
    cursor: move;
}

.children-list > li:hover
{
    background-color: #f8f9fa;
}

.children-list.sortable > li.sortable-chosen
{
    background-color: white;
}

.children-list.sortable > li.sortable-ghost
{
    background-color: #d4edda;
    color: #155724;
}

.btn-new
{
    border-radius: 0;
    padding: 0.25rem 0.5rem;
}
