# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    # JWT token TTL settings from environment variables
    jwt_token_ttl: '%env(int:JWT_TOKEN_TTL)%'
    jwt_refresh_token_ttl: '%env(int:JWT_REFRESH_TOKEN_TTL)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    
    # API Database Route Loader
    App\Routing\ApiRouteLoader:
        tags: [routing.loader]
        arguments:
            $cache: '@cache.app'
            $env: '%kernel.environment%'
    
    # API Request Logger Services
    App\Service\Core\ApiRequestLoggerService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $tokenStorage: '@security.token_storage'
    
    # API Request Logger Listener
    App\EventListener\ApiRequestLoggerListener:
        tags:
            - { name: kernel.event_subscriber }
        arguments:
            $loggerService: '@App\Service\Core\ApiRequestLoggerService'
    
    # Admin Asset Service - needs explicit project directory
    App\Service\CMS\Admin\AdminAssetService:
        arguments:
            $projectDir: '%kernel.project_dir%'
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    # Cache Service Configuration
    App\Service\Cache\Core\CacheService:
        arguments:
            $globalCache: '@cache.global'
            $userFrontendCache: '@cache.user_frontend'
            $adminCache: '@cache.admin'
            $lookupsCache: '@cache.lookups'
            $permissionsCache: '@cache.permissions'
    
    # Services that use CacheableServiceTrait
    # Frontend Services
    App\Service\CMS\Frontend\PageService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    # Core Services
    App\Service\Core\LookupService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    

    
    # Admin Services - All entities

    
    App\Service\CMS\Admin\AdminUserService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    App\Service\CMS\Admin\AdminSectionService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    App\Service\CMS\Admin\AdminGroupService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    App\Service\CMS\Admin\AdminRoleService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    App\Service\CMS\Admin\AdminGenderService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    

    

    
    App\Service\CMS\Admin\AdminActionService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    App\Service\CMS\Admin\AdminCmsPreferenceService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    App\Service\CMS\Admin\AdminSectionUtilityService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    # Language Service (extends BaseService but needs caching)
    App\Service\CMS\LanguageService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    # Specialized Cache Services
    App\Service\Cache\Specialized\UserPermissionCacheService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    App\Service\Cache\Specialized\UserCacheService:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]
    
    # Repositories using cache
    App\Repository\AclRepository:
        calls:
            - [setCacheService, ['@App\Service\Cache\Core\CacheService']]