.filter-toggle-switch.btn-outline-primary.active:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.filter-toggle-switch.btn-outline-secondary.active:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62
}
.filter-toggle-switch.btn-outline-success.active:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.filter-toggle-switch.btn-outline-danger.active:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.filter-toggle-switch.btn-outline-warning.active:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}
.filter-toggle-switch.btn-outline-info.active:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.filter-toggle-switch.btn-outline-light.active:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.filter-toggle-switch.btn-outline-dark.active:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
