.cms-edit
{
    left: auto;
    background-color: rgba(1, 1, 1, 0.1);
}

.cursor-pointer
{
    cursor: pointer;
}

.pdfA4 {
    width: 645px;
    max-width: 645px !important;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.pdfA4Img {
    /* max-width: 775px !important; */
    max-width: 555px !important;
}
