.cms-edit
{
    left: auto;
    background-color: rgba(1, 1, 1, 0.1);
}

.cursor-pointer
{
    cursor: pointer;
}

.pdfHolder {
    width: 595px;
    height: 842px;
    max-width: 595px;
    max-height: 842px;
}

.pdfA4 {
    max-width: 565px !important;
}
