.nested-list > .list-group-item-action, .nested-list * .list-group-item-action
{
    cursor: pointer;
}
.nested-list > .list-group-item, .nested-list * .list-group-item
{
    border:none;
}
button.clear-search
{
    margin-top:-1.3em;
    margin-right:0.3em;
}
.nested-list * a, .nested-list * span
{
    margin-left: 1.6em;
    display: block;
    padding: 0.2em 0.4em;
}
.nested-list * .chevron
{
    width: 0.8em;
    display: inline-block;
    float: left;
    margin-top:0.5em;
    margin-left:0.4em;
}
.nested-list-item-name:hover
{
    text-decoration: none;
}
.nested-list-item-name.active
{
    background-color: #007bff;
    color: white;
}
.nested-list-item-name.active:hover
{
    background-color: #0062cc;
}
