.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

button.clear-search {
    margin-top:-1.3em;
    margin-right:0.3em;
}

div.card-header.nested-list
{
    cursor:pointer;
}

div.card-header.nested-list:hover
{
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
