.highlight, .highlight-hover
{
    position: relative;
    display: block !important;
    z-index: 100;
}

.highlight
{
    -moz-box-shadow: 0 0 5px #007bff;
    -webkit-box-shadow: 0 0 5px #007bff;
    box-shadow: 0 0 5px #007bff;
}

.highlight-hover
{
    -moz-box-shadow: 0 0 5px #28a745;
    -webkit-box-shadow: 0 0 5px #28a745;
    box-shadow: 0 0 5px #28a745;
}

pre.db-fields
{
    white-space: pre-wrap;
    padding-top: 3px;
}

textarea
{
    font-family: monospace;
}
