.section-view * .highlight-hover
{
    -moz-box-shadow: 0 0 5px #28a745;
    -webkit-box-shadow: 0 0 5px #28a745;
    box-shadow: 0 0 5px #28a745;
}

.page-view * .page-view-element-leaf
{
    height: 1rem;
    width: 1rem;
}

.page-view * .highlight
{
    background-color: #007bff;
}

.page-view * .highlight-hover
{
    background-color: #28a745;
}

.cms-page-overview
{
}

pre.db-fields
{
    white-space: pre-wrap;
    padding-top: 3px;
    margin-left: 0.5rem;
}

textarea
{
    font-family: monospace;
}

.sticky-menu
{
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    z-index: 900;
}

.fieldsOnTop {
    z-index: 100;
}

/************************* UI CMS **********************************************************************************************/

.ui-section-btn{
    cursor: pointer;
    height: 36px;
    padding: 10px;
    pointer-events: auto;
}

.ui-section-holder{
    border: 2px solid;
    position: relative;
    border-color:  var(--secondary)
}

.ui-buttons-holder{
    display: none;
    top: -18px;
    bottom: -18px;
    left: -18px;
    right: -18px;
    pointer-events: none;
}

.ui-section-holder:hover{
    border-color:  var(--primary) !important;
}

.ui-section-holder:hover > .ui-buttons-holder{
    display: flex !important;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.section-children-ui-cms{
    min-height: 50px;
}

.drag-ghost{
    opacity: 0.4;
    background-color:  var(--primary) !important;
}

.ui-icon-button-white {
    background-image: radial-gradient(at center, white 20%, transparent 20%);
}