/************************* UI CMS **********************************************************************************************/

.ui-section-btn{
    cursor: pointer;
    height: 36px;
    padding: 10px;
    pointer-events: auto;
}

.ui-section-holder{
    border: 2px solid;
    position: relative;
    border-color:  var(--secondary)
}

.ui-buttons-holder{
    display: none;
    top: -18px;
    bottom: -18px;
    left: -18px;
    right: -18px;
    pointer-events: none;
}

.ui-section-holder:hover{
    border-color:  var(--primary) !important;
}

.ui-section-holder:hover > .ui-buttons-holder{
    display: flex !important;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.section-children-ui-cms{
    min-height: 50px;
}

.drag-ghost{
    opacity: 0.4;
    background-color:  var(--primary) !important;
}

.ui-icon-button-white {
    background-image: radial-gradient(at center, white 20%, transparent 20%);
}