/************************* UI CMS **********************************************************************************************/

.ui-section-btn {
    cursor: pointer;
    height: 36px;
    padding: 10px;
    pointer-events: auto;
}

.ui-section-holder {
    border: 2px solid;
    position: relative;
    border-color: var(--secondary)
}

.ui-buttons-holder {
    display: none;
    top: -18px;
    bottom: -18px;
    left: -18px;
    right: -18px;
    pointer-events: none;
}

.ui-section-holder:hover {
    border-color: var(--primary) !important;
}

.ui-section-holder:hover>.ui-buttons-holder {
    display: flex !important;
}

.grabbable {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.section-children-ui-cms {
    min-height: 50px;
}

.drag-ghost {
    opacity: 0.4;
    background-color: var(--primary) !important;
}

.ui-icon-button-white {
    background-image: radial-gradient(at center, white 20%, transparent 20%);
}

.ui-card-list {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .125);
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0px !important;
}

#sidebar-container {
    border-right: 1px solid rgba(0, 0, 0, .125);
}

#properties {    
    border-left: 1px solid rgba(0, 0, 0, .125);
}

#collapsePropertiesBtn{
    border-top: 1px solid rgba(0, 0, 0, .125);
}

#collapseBtn{
    border-top: 1px solid rgba(0, 0, 0, .125);
}

#sidebar-container .ui-card-list .card-body {
    max-height: 400px;
    overflow: auto;
    padding: 0.4rem !important;
}

.ui-card-list .card-header {
    background-color: var(--white);
}

.ui-card-list .card-header:hover {
    color: #495057;
    background-color: #f8f9fa;
}

.ui-card-properties {
    border-radius: 0;
    max-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 0 !important;
}

.properties-fields {
    outline: #ebebeb 1px solid;
    border: none !important;
}

.ui-card-properties>.card-header {
    display: none !important;
}

.ui-card-properties>.card-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 !important;
}

.ui-card-properties form > button {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;    
}

.ui-card-properties form>a {
    display: none;
}

/* .ui-card-properties form > .btn {
    display: none;
} */

.ui-breadcrumb {
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: var(--white);
}

.ui-sidebar {
    background-color: #e9ecef;
}

/* Menu item*/
.ui-side-menu-button {
    cursor: pointer;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-left: none;
    border-right: none;
    border-top: none;
}

#ui-cms>.section-view {
    margin: 0 !important;
    border: none;
}

#ui-cms>.card>.card-body {
    padding: 0.5rem;
}

#ui-cms>.section-view>.card-header {
    display: none !important;
}

.sidebar-expanded {
    min-width: 190px;
    max-width: 300px;
}

.sidebar-expanded #collapseBtn{
    justify-content: flex-end;
}

.sidebar-collapsed {
    min-width: 62px;
}

.properties-expanded {
    min-width: 420px;
}

#ui-middle>.sticky-top>.alert {
    margin: 0;
    border-radius: 0;
}

#ui-middle>.sticky-top ol {
    margin-bottom: 0;
}

.footer-holder {
    display: none !important;
}

.ui-cms-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#collapsePropertiesBtn {
    height: 50px;
}

.properties-collapsed {
    display: flex;
}

.toggle.ui-toggle {
    border-radius: 0px;
    width: 100% !important;
    min-height: 50px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-left: none;
    border-right: none;
    border-top: none;
}

.toggle.ui-toggle .toggle-handle {
    border-color: #ffc107;
    border: solid 1.2px #ffc107;
}

.toggle.ui-toggle .toggle-handle:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.ui-toggle>.toggle-group>.toggle-on,
.toggle-off {
    display: flex;
    align-items: center;
    padding: .75rem 1.25rem !important;
}

.ui-toggle>.toggle-group>.toggle-off {
    background-color: var(--white);
    color: #495057;
}

.ui-toggle>.toggle-group>.toggle-off:hover {
    background-color: #f8f9fa;
}

.dropdown-menu {
    z-index: 1021;
}

#left-side-scroll-area {
    max-height: calc(100vh - 50px);
    overflow: auto;
}

.input-autocomplete-value {
    max-width: 70px;
}

