/************************* UI CMS **********************************************************************************************/

.ui-section-btn {
    cursor: pointer;
    height: 36px;
    padding: 10px;
    pointer-events: auto;
}

.ui-section-holder {
    border: 2px solid;
    position: relative;
    border-color: var(--secondary)
}

.ui-buttons-holder {
    display: none;
    top: -18px;
    bottom: -18px;
    left: -18px;
    right: -18px;
    pointer-events: none;
}

.ui-section-holder:hover {
    border-color: var(--primary) !important;
}

.ui-section-holder:hover>.ui-buttons-holder {
    display: flex !important;
}

.grabbable {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.section-children-ui-cms {
    min-height: 50px;
}

.drag-ghost {
    opacity: 0.4;
    background-color: var(--primary) !important;
}

.ui-icon-button-white {
    background-image: radial-gradient(at center, white 20%, transparent 20%);
}

.ui-card-list {
    border-radius: 0;
    margin: 0 1px !important;
    outline: 1px solid rgb(223 223 223);
    border: none;
}

.ui-card-list .card-body {
    max-height: 400px;
    overflow: auto;
    padding: 0.4rem !important;
}

.ui-card-list .card-header {
    background-color: var(--white);
}

.ui-card-list .card-header:hover {
    color: #495057;
    background-color: #f8f9fa;
}

.ui-card-properties {
    border-radius: 0;
    margin: 0 1px !important;
    outline: 1px solid rgb(223 223 223);
    border: none;
}

.ui-card-properties .card-body {
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.4rem !important;
}

.ui-breadcrumb {
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: var(--white);
}

.sticky-offset {
    top: 56px;
}

.ui-sidebar {
    background-color: #e9ecef;
}

/* Menu item*/
.ui-side-menu-button {
    cursor: pointer;
}

#ui-cms>.section-view {
    margin: 0 !important;
    border: none;
}

#ui-cms>.section-view>.card-header {
    display: none !important;
}

.ui-border-filler {
    border-right: 1px solid rgba(0, 0, 0, .125);
    border-left: 1px solid rgba(0, 0, 0, .125);
}

.sidebar-expanded {
    min-width: 190px;
}

#ui-middle > .sticky-top > .alert{
    margin: 0;
    border-radius: 0;
}

.footer-holder {
    display: none !important;
}

.ui-cms-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}