.pointer {
   cursor: pointer;
}

.mermaidFormHidden {
   display: none;   
}

.mermaidFormHiddenFields div label {
   display: none;
}

.mermaidFormHiddenFields div input {
   display: none;
}

.mermaidFormHiddenFields label {
   display: none;
}

.mermaidFormHiddenFields input {
   display: none;
}

.mermaidFieldVisible{
   display: block !important;
}

.modal-content > .card{
   z-index: 100000 !important;
}