.pointer {
    cursor: pointer;
}

.mermaidFormHidden {
    display: none;
}

.mermaidFormHiddenFields div label {
    display: none;
}

.mermaidFormHiddenFields div input {
    display: none;
}

.mermaidFormHiddenFields div textarea {
    display: none;
}

.mermaidFormHiddenFields div select {
    display: none;
}

.mermaidFormHiddenFields label {
    display: none;
}

.mermaidFormHiddenFields input {
    display: none;
}

.mermaidFormHiddenFields textarea {
    display: none;
}

.mermaidFormHiddenFields select {
    display: none;
}

.mermaidFieldVisible{
    display: block !important;
}

.modal-content > .card{
    z-index: 100000 !important;
}
